<tr>
	<td><%= link_to task.title, task_path(task), remote: true %></td>
	<td><%= task.content %></td>

	<td>
		<% if task.is_announced == true %>
			<label>公</label>
		<% else %>
			<label>非</label>
		<% end %>
	</td>
	<td><%= task.updated_at.strftime("%m/%d") %></td>
</tr>