
<h1 style = "font-size: 1.5rem;">Wellcome! SKYShift!</h1>
<p>confortable scheduling for you</p>
<br><br>
<%= link_to "新規登録", new_user_registration_path %>
<br><br><br>
<%= link_to "ログイン", new_user_session_path %>
