
<h1 style = "font-size: 2rem;">Welcome! SKYShift!</h1>
<p>comfortable scheduling for you</p>
<br><br>
<%= link_to "新規登録", new_user_registration_path %>
<br><br><br>
<%= link_to "ログイン", new_user_session_path %>
