<div class="row">
        <div class="col-6">
            店舗選択
        </div>
        <div class="col-6 text-right">
            <%= link_to new_room_path, class: "btn btn-outline-primary", remote: true do %>
                <i class="fas fa-plus"></i>
            <% end %>
        </div>
</div>

<ul class="list-group">
    <% stores.each do |store| %>
        <%= link_to rooms_path(store_id: store.id), class: "list-group-item d-flex justify-content-between align-items-center" do %>
            <div>
                <%= store.name %>
            </div>
            <div class="arrow-right">
                <i class="fas fa-angle-right"></i>
            </div>
        <% end %>
    <% end %>
</ul>