<div class="row">
        <div class="col-6">
            店舗選択
        </div>
        <div class="col-6 text-right">
            <%= link_to new_room_path, class: "btn btn-outline-primary", remote: true do %>
                <i class="fas fa-plus"></i>
            <% end %>
        </div>
</div>

<ul class="list-group">
    <% stores.each do |store| %>
        <button id='<%= store.id %>' class="list-group-item d-flex justify-content-between align-items-center">
            <div>
                <%= store.name %>
            </div>
        </button>
    <% end %>
</ul>

<script>
// $('.list-group-item').on('click', function() {
//     $.ajax({
//         type: 'GET',
//         url: '/rooms/get_rooms',
//         data: {
//             store_id: $(this).attr('id')
//         }
//     }).done(function(data) {
//         // console.log(data);
//         $('.select-room').html(data);
//     });
// });
</script>