// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// #message {
//     margin: 10px;
//     margin-left: auto;
//     margin-right: 5px;
//     min-width: 150px;
//     max-width: 150px;
// }


.message-box {
    height: 70vh;
}

.messages {
    overflow: scroll; /* ここのscrollが効かない */
    height: 90%;
    text-align: right;
}

/*以下、②左側のコメント*/
.balloon6 {
    width: 100%;
    margin: 10px 0;
    overflow: hidden;
    text-align: left;
}

.balloon6 .faceicon {
    float: left;
    margin-right: -50px;
    width: 40px;
    
}

.balloon6 .faceicon i.fas.fa-user{
    width: 100%;
    height: auto;
    border-radius: 50%;
    font-size: 40px;
}
.balloon6 .chatting {
    width: 100%;
    text-align: left;
}
.says {
    display: inline-block;
    position: relative; 
    margin: 0 0 0 50px;
    padding: 10px;
    max-width: 250px;
    border-radius: 12px;
    background: #edf1ee;
}

.says:after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 3px; 
    left: -19px;
    border: 8px solid transparent;
    border-right: 18px solid #edf1ee;
    -webkit-transform: rotate(35deg);
    transform: rotate(35deg);
}
.says p {
    margin: 0;
    padding: 0;
}

/*以下、③右側の緑コメント*/
.mycomment {
    // margin: 10px 0;
    margin: 10px 0 10px auto;
}
.mycomment p {
    display: inline-block;
    position: relative; 
    margin: 0 10px 0 0;
    padding: 8px;
    max-width: 250px;
    border-radius: 12px;
    background: #30e852;
    font-size: 15px;
    text-align: left;
}

.mycomment p:after {
    content: "";
    position: absolute;
    top: 3px; 
    right: -19px;
    border: 8px solid transparent;
    border-left: 18px solid #30e852;
    -webkit-transform: rotate(-35deg);
    transform: rotate(-35deg);
}