<p>ご利用ありがとうございます <%= @resource.last_name %>様</p>

<p>パスワードの再設定が申請されました。下記リンクから再設定を行うことができます</p>

<p><%= link_to 'パスワードを再設定', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>もしあなたが申請していない場合には本メールを無視してください</p>
<p>上記のリンクにアクセスし、新しいパスワードを作成しない限りパスワードは変更されません。</p>
